html {
  font-family: "Abhaya Libre", serif;
}

h1 {
  color: #fff;
}

li {
  text-align: left;
}

a {
  color: #fff;
}

a:hover {
  background-color: #15114c;
}

.masthead {
  background-color: #423ca3;
}

.nav {
  text-align: center;
  vertical-align: middle;
}

.btn {
  background-color: #15114c;
  border-color: #15114c;
}

.logo {
  text-align: center;
  background-color: #15114c;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
